:root {
    --selection-text: #ffffff;
    --selection-background: rgb(32, 35, 41);

    --btn-primary: #ea2845;
    --btn-text-color: #ffffff;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--selection-background);
    color: var(--selection-text);
    font-family: 'Montserrat', 'Tahoma', 'sans-serif';
}

.main {
    display: flex;
    flex-flow: column wrap;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.header__title {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
}

.items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.item {
    font-weight: 500;
    font-size: 16px;
    color: var(--btn-text-color);
    text-align: center;
    padding: 14px 28px;
    width: 220px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    text-decoration: none;
    margin: 8px;
}

.item-primary {
    background: var(--btn-primary);
    border: 2px solid var(--btn-primary);
}

.item-primary:hover {
    border: 2px solid #e93333;
    background: 0 0;
}

.item-secondary {
    border: 2px solid #fff;
}

.item-secondary:hover {
    border: 2px solid #e92845;
    background: 0 0;
    color: #e92845;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}

.fa-github {
    margin-right: 6px;
    font-size: 18px;
    vertical-align: middle;
}